*{
	box-sizing: border-box;
}
body{
	background: #267B93;
}
#background{
  fill: #272822;
}
#surfBoard{
	fill: #BD2C06;
}
#tube1{
	fill: #1EA602;
}
#tubeTop1{
	fill: #1EA602;
	stroke: black;
}
#tube2{
	fill: #1EA602;
}
#tube3{
	fill: #1EA602;
}
#tubeTop2{
	fill: #1EA602;
	stroke: black;
}
#tubeTop3{
	fill: #1EA602;
	stroke: black;
}
#tubeBase1{
	fill: #1EA602;	
}
#fire1{
	fill: red;
}
#ball1{
	fill: white;
}
#ball3{
	fill: white;
}
#fire2{
	fill: red;
}
#fire3{
	fill: red;
}
#ball2{
	fill: white;
}
#face{
  fill: #FDD7BE;
}
#leftEye{
	fill: #F6F6F6;
}
#rightEye{
	fill: #F6F6F6;
}
#leftEyeColor{
	fill: #5FABFF;
}
#rightEyeColor{
	fill: #5FABFF;
}

#smallBadface{
  fill: #efc6ab;
}

#smallBadleftEye{
	fill: #F6F6F6;
}

#smallBadrightEye{
	fill: #F6F6F6;
}
#smallBadleftEyeColor{
	fill: brown;
}
#smallBadrightEyeColor{
	fill: brown;
}
#smallBadTorso1{
	fill: #F98420;
}
#smallBadTorso2{
	fill: #F98420;
}
#smallBadMouth{
	fill: black;
}
#smallBadLeftEyeBrow{
	stroke: black;
	stroke-width: 2;
}
#smallBadRightEyeBrow{
	stroke: black;
	stroke-width: 2;
}
#torso{
	fill: #FFB1E5;
}
#torso2{
	fill: #FFB1E5;
}
#rightMouth{
	fill: white;
}
#leftMouth{
	fill: white;
}
#leftHair{
	fill:#FFFF01;
}
#rightHair{
	fill:#FFFF01;
}
#torso1{
	fill: #FFB1E5;
}
#mediumBadface{
  fill: #ffe0cc;
}
#mediumBadLeftEye{
	fill: white;
}
#mediumBadRightEye{
	fill: white;
}
#mediumBadLeftEyeBrow{
	stroke: brown;
	stroke-width: 3;
}
#mediumBadRightEyeBrow{
	stroke: brown;
	stroke-width: 3;
}
#mediumBadTorso1{
	fill: #054C8A;
}
#mediumBadTorso2{
	fill: #054C8A;
}
#mediumBadHair1{
	stroke: brown;
	stroke-width: 7;
}
#mediumBadHair2{
	stroke: brown;
	stroke-width: 7;
}
#mediumBadHair3{
	stroke: brown;
	stroke-width: 7;
}
.fireText{
	fill: white;
	font-size: 12px;
  font-family: Georgia;
}
.clear{
	opacity: 0;
}
#whiteTube1{
	stroke: white;
	stroke-width: 8;
}
#whiteTube2{
	stroke: white;
	stroke-width: 12;
}
#whiteTube3{
	stroke: white;
	stroke-width: 15;
}
